<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 확인</title>
    <link rel="stylesheet" th:href="@{/css/members/myinfo.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#verifyPasswordForm").submit(function(event) {
                event.preventDefault(); // 기본 폼 제출 방지
                const password = $("#password").val();

                $.ajax({
                    url: "/api/members/myinfo/myinfo",
                    type: "POST",
                    data: { password: password },
                    success: function(data) {
                        window.location.href = "/myinfo/myinfo";
                    },
                    error: function(xhr) {
                        // 비밀번호 확인 실패 시 오류 메시지 표시
                        const errorResponse = JSON.parse(xhr.responseText);
                        const errorMsg = errorResponse.message; // message 속성만 추출
                        $("#error").text(errorMsg);
                    }
                });
            });
        });
    </script>
</head>
<body>
<div th:replace="~{fragments/common/header :: headerFragment}"></div>
<div id="myinfo-body">
    <div class="myinfo-sidebar">
        <h3>내 정보</h3>
        <ul>
            <li><a th:href="@{/myinfo}">내정보 홈</a></li>
            <li><a th:href="@{/myinfo/myinfo}">내정보</a></li>
            <li><a th:href="@{/myinfo/list}">구매목록</a></li>
            <li><a th:href="@{/myinfo/inquiries}">문의내역</a></li>
            <li><a th:href="@{/myinfo/deliveries}">배송지관리</a></li>
        </ul>
    </div>
    <div class="checkPassword-contents">
        <h3>비밀번호 확인</h3>
        <form id="verifyPasswordForm">
            <div>
                <label for="password">비밀번호</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div>
                <input type="submit" value="비밀번호 확인">
            </div>
        </form>
        <div id="error" style="color: red;"></div> <!-- 오류 메시지 표시 -->
    </div>
</div>
</body>
<div th:replace="~{fragments/common/footer :: footerFragment}"></div>
</html>
