<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>문의사항</title>
  <link rel="stylesheet" th:href="@{/css/members/myinfo.css}">
  <script th:src="@{/js/members/myinfo/inquiries.js}" defer="defer"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <style>
        .active {
          background-color: blue;
          color: white;
        }
        .page-btn {
        /* 기존 스타일 */
        font-size: 25px; /* 원하는 크기로 변경 */
        }
    </style>
</head>
<body>
<div th:replace="~{fragments/common/header :: headerFragment}"></div>
<div id="myinfo-body">
  <div class="myinfo-sidebar">
    <h3>내 정보</h3>
    <ul>
      <li><a th:href="@{/myinfo}">내정보 홈</a></li>
      <li><a th:href="@{/myinfo/myinfo}">내정보</a></li>
      <li><a th:href="@{/myinfo/list}">구매목록</a></li>
      <li><a th:href="@{/myinfo/inquiries}">문의내역</a></li>
      <li><a th:href="@{/myinfo/deliveries}">배송지 관리</a></li>
    </ul>
  </div>
    <div class="inquiryList-contents">
      <h2>내 문의사항 목록</h2>
      <!-- 문의사항 테이블 여기에 출력 -->
    </div>
    <div class="pagination">
    </div>
</div>
</body>
<!--<div th:replace="~{fragments/common/footer :: footerFragment}"></div>-->
</html>

