<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>구매목록</title>
  <link rel="stylesheet" th:href="@{/css/members/myinfo.css}">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div th:replace="~{fragments/common/header :: headerFragment}"></div>
<div id="myinfo-body">
  <div class="myinfo-sidebar">
    <h3>내 정보</h3>
    <ul>
      <li><a th:href="@{/myinfo}">내정보 홈</a></li>
      <li><a th:href="@{/myinfo/myinfo}">내정보</a></li>
      <li><a th:href="@{/myinfo/list}">구매목록</a></li>
      <li><a th:href="@{/myinfo/inquiries}">문의내역</a></li>
      <li><a th:href="@{/myinfo/deliveries}">배송지 관리</a></li>
    </ul>
  </div>
  <div class="purchaseList-contents">
    <!--테이블 형식으로 추가하기-->

  </div>
</div>
</body>
<div th:replace="~{fragments/common/footer :: footerFragment}"></div>
</html>
