<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/members/signup/inputEmail.js}" defer="defer"></script>
    <script th:src="@{/js/members/signup/validation.js}" defer="defer"></script>
    <script th:src="@{/js/members/signup/confirmPw.js}" defer="defer"></script>
    <link rel="stylesheet" th:href="@{/css/members/signup.css}">
</head>
<body>
<div th:replace="~{fragments/common/header :: headerFragment}"></div>
<div class="signup-container">
    <h2>회원가입</h2>
    <form id="signupForm">
        <li>
            <!-- 이메일 -->
            <div class="emailInput">
                <label>이메일</label>
                <input type="text" id="emailId" name="emailID" placeholder="이메일 아이디 입력" required><span> @ </span>
                <input type="text" id="domainCustom" name="domainCustom" placeholder="도메인 직접 입력">
                <select id="domainList" required>
                    <option value="custom">직접 입력</option>
                    <option value="gmail.com">gmail.com</option>
                    <option value="naver.com">naver.com</option>
                    <option value="nate.com">nate.com</option>
                    <option value="daum.net">daum.net</option>
                </select>
                <input type="hidden" id="memberEmail" name="memberEmail" value="">
                <button type="button" id="emailCheckButton">이메일 중복 확인</button>
            </div>
        </li>
        <!-- 이메일 중복확인 결과 메시지 영역 -->
        <li>
            <d id="emailAvailable" class="valid-feedback" style="display: none;"></d>
            <d id="emailNotAvailable" class="invalid-feedback" style="display: none;"></d>
        </li>
        <!-- 인증번호 입력란 -->
        <li>
            <div class="code">
                <label th:for="emailVerificationCode" >인증번호</label>
                <input type="text" id="emailVerificationCode" placeholder="인증번호 입력" required>
                <!-- 이메일 인증 버튼 -->
                <button type="button" id="certifyEmailButton" class="submitBtn">인증번호 전송</button>
                <button type="button" id="verifyEmailButton" class="checkBtn">인증번호 확인</button>
            </div>
        </li>
        <li>
            <!-- 인증 결과 메시지 영역 -->
            <div id="certifyEmailMessage" class="valid-feedback" style="display: none;"></div>
        </li>

        <!-- 아이디 -->
        <li>
            <label for="memberId">아이디</label>
            <input type="text" id="memberId" name="memberId" placeholder="아이디를 입력해주세요" required>
            <button type="button" id="idCheckButton">아이디 중복 확인</button>
        </li>
        <!-- 아이디 중복확인 결과 메시지 영역 -->
        <li>
            <d id="idAvailable" class="valid-feedback" style="display: none;"></d>
            <d id="idNotAvailable" class="invalid-feedback" style="display: none;"></d>
        </li>

        <!-- 비밀번호 -->
        <li>
            <label for="memberPw">비밀번호</label>
            <input type="password" id="memberPw" name="memberPw" placeholder="비밀번호를 입력해주세요" required>
        </li>
        <li>
            <label for="confirmPw">비밀번호 확인</label>
            <input type="password" id="confirmPw" name="confirmPw" placeholder="위와 같은 비밀번호를 입력해주세요" required>
        </li>
        <font id="checkMessage" size="2"></font>

        <!-- 닉네임 -->
        <li>
            <label for="memberNickname">닉네임</label>
            <input type="text" id="memberNickname" name="memberNickname" placeholder="닉네임을 입력해주세요" required>
<!--            <button type="button" id="nicknameCheckButton">닉네임 중복 확인</button>-->
        </li>
        <!-- 닉네임 중복확인 결과 메시지 영역 -->
<!--        <li>-->
<!--            <d id="nicknameAvailable" class="valid-feedback" style="display: none;"></d>-->
<!--            <d id="nicknameNotAvailable" class="invalid-feedback" style="display: none;"></d>-->
<!--        </li>-->
        <li>
            <button type="submit">가입하기</button>
        </li>
    </form>
</div>
</body>
<div th:replace="~{fragments/common/footer :: footerFragment}"></div>
</html>