<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>비밀번호 찾기</title>
  <script th:src="@{/js/members/temppassword.js}" defer="defer"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" th:href="@{/css/members/temppassword.css}">
</head>
<body>
<div th:replace="~{fragments/common/header :: headerFragment}"></div>
<p>임시비밀번호 발급 페이지 입니다</p>
<form id="temppasswordForm">
  <li>
    <label for="memberId">아이디</label>
    <input type="text" name="memberId" id="memberId" placeholder="아이디 입력" required>
  </li>
  <li>
    <label for="memberEmail">이메일</label>
    <input type="text" name="memberEmail" id="memberEmail" placeholder="이메일 입력" required>
  </li>
  <li>
    <!-- 임시비밀번호 전송 결과 메시지 영역 -->
    <div id="certifyEmailMessage" class="valid-feedback" style="display: none;"></div>
  </li>
  <li>
    <button type="button" id="temppasswordButton">임시비밀번호 발급</button>
  </li>
</form>
<a th:href="@{/members/login}">로그인</a>
</body>
<div th:replace="~{fragments/common/footer :: footerFragment}"></div>
</html>