<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>배송지목록</title>
    <script th:src="@{/js/delivery/deliveryList.js}" defer="defer"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        #addDeliveryBtn {
            width: 500px;
            height: 50px;
            font-size: 16px;
            margin-bottom: 20px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h2>배송지 목록</h2>
    <button id="addDeliveryBtn">배송지 추가</button>
    <div class="deliveryList-contents">
        <!-- 배송지 목록 테이블 여기에 출력 -->
    </div>
</body>
</html>