<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>배송지 수정</title>
    <script th:src="@{/js/delivery/updateDelivery.js}" defer="defer"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<body>
<h2>배송지 수정</h2>
<form id="editDeliveryForm">
    <input type="hidden" id="deliveryNo" name="deliveryNo">

    <label for="title">배송지 이름</label>
    <input type="text" id="title" name="title" required><br>

    <label for="receiver">받는 사람</label>
    <input type="text" id="receiver" name="receiver" required><br>

    <label for="phone">휴대전화번호</label>
    <input type="text" id="phone" name="phone" required><br>

    <label for="postCode">우편번호</label>
    <input type="text" id="postCode" name="postCode" required><br>
    <input type="button" onclick="sample4_execDaumPostcode('edit')" value="주소 검색"><br>

    <label for="roadAddr">도로명주소</label>
    <input type="text" id="roadAddr" name="roadAddr"><br>

    <label for="jibunAddr">지번주소</label>
    <input type="text" id="jibunAddr" name="jibunAddr"><br>

    <label for="detailAddr">상세주소</label>
    <input type="text" id="detailAddr" name="detailAddr" required><br>

    <label for="extraAddr">참고사항</label>
    <input type="text" id="extraAddr" name="extraAddr" required><br>

    <button type="button" id="updateDeliveryBtn">수정하기</button>
    <button type="button" onclick="window.history.back()">취소</button>
</form>
</body>
</html>
