<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>좌표 찾기</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=wbg83yihp2&submodules=geocoder"></script>
</head>
<body>
<div id="search">
    <input type="text" id="search-input" placeholder="행정구역만 검색 가능합니다" style="width: 200px; height: 30px; padding: 10px;">
    <button onclick="searchLocation()">검색</button>
</div>

<!-- 버튼들 추가 -->
<div id="buttons">
    <span>상점 추가, 수정 시엔 버튼 클릭 없이 지도 위 클릭하세요.</span> <br>
    <button onclick="fillField('bus')">버스필드 채우기</button>
    <button onclick="fillField('subway')">지하철필드 채우기</button>
</div>

<!-- 지도가 표시되는 영역 -->
<div id="map" style="width:500px; height:400px;"></div>

<script>
    var mapOptions = {
        center: new naver.maps.LatLng(37.5665, 126.9780),
        zoom: 15
    };
    var map = new naver.maps.Map('map', mapOptions);
    var marker = new naver.maps.Marker({
        map: map,
        position: new naver.maps.LatLng(37.5665, 126.9780),
        draggable: true,
        visible: false
    });
    var infoWindow = new naver.maps.InfoWindow({
        content: '',
        backgroundColor: '#ffffff',
        borderColor: '#000000',
        borderWidth: 1,
        anchorSize: new naver.maps.Size(10, 10),
        anchorSkew: true,
        anchorColor: '#000000',
        pixelOffset: new naver.maps.Point(10, -10)
    });

    var coordinates = {}; // 저장된 좌표를 저장할 객체

    naver.maps.Event.addListener(map, 'click', function(e) {
        var latlng = e.latlng;
        marker.setPosition(latlng);
        marker.setVisible(true);

        var lat = latlng.lat();
        var lng = latlng.lng();

        infoWindow.setContent('<div style="padding:10px;width:200px;">위도: ' + lat + '<br>경도: ' + lng + '</div>');
        infoWindow.open(map, marker);

        // 좌표 저장
        coordinates.current = { lat: lat, lng: lng };

        // 부모 창으로 좌표 전송
        if (window.opener) {
            window.opener.postMessage({ lat: lat, lng: lng }, window.location.origin);
        }
    });

    function searchLocation() {
        var address = document.getElementById('search-input').value;

        naver.maps.Service.geocode({
            address: address
        }, function(status, response) {
            if (status !== naver.maps.Service.Status.OK) {
                return alert('검색 결과가 없습니다.');
            }

            var result = response.result;
            var items = result.items;
            var item = items[0];

            var addr = item.address;
            var point = item.point;

            map.setCenter(new naver.maps.LatLng(point.y, point.x));
            marker.setPosition(new naver.maps.LatLng(point.y, point.x));
            marker.setVisible(true);

            infoWindow.setContent('<div style="padding:10px;width:200px;">' + addr + '<br>위도: ' + point.y + '<br>경도: ' + point.x + '</div>');
            infoWindow.open(map, marker);

            // 좌표 저장
            coordinates.current = { lat: point.y, lng: point.x };

            // 부모 창으로 좌표 전송
            if (window.opener) {
                window.opener.postMessage({ lat: point.y, lng: point.x }, window.location.origin);
            }
        });
    }

    function fillField(type) {
        if (coordinates.current) {
            // type에 따라 적절한 필드에 값 입력
            switch (type) {
                case 'bus':
                    if (window.opener) {
                        window.opener.postMessage({ type: 'UPDATE_BUS_COORDS', coords: coordinates.current }, window.location.origin);
                    }
                    break;
                case 'subway':
                    if (window.opener) {
                        window.opener.postMessage({ type: 'UPDATE_SUBWAY_COORDS', coords: coordinates.current }, window.location.origin);
                    }
                    break;
                case 'shop':
                    if (window.opener) {
                        window.opener.postMessage({ type: 'UPDATE_SHOP_COORDS', coords: coordinates.current }, window.location.origin);
                    }
                    break;
            }
        } else {
            alert('좌표를 먼저 선택하거나 검색하세요.');
        }
    }

    $('#search-input').on('keypress', function(e) {
        if (e.which === 13) {
            searchLocation(); // 검색 함수 호출
        }
    });
</script>
</body>
</html>
