<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자페이지</title>
    <link rel="stylesheet" th:href="@{/css/admin/admin.css}">
</head>
<body>
<div th:replace="~{fragments/common/header :: headerFragment}"></div>
<!--좌측 메뉴-->
<div id="admin-body">
    <div class="admin-sidebar">
        <h3>관리자 메뉴</h3>
        <ul>
            <li><a th:href="@{/admin/markets}">시장 관리</a></li>
            <li><a th:href="@{/admin/shops}">상점 관리</a></li>
            <li><a th:href="@{/admin/items}">상품 관리</a></li>
            <li><a th:href="@{/admin/members}">회원목록 조회</a></li>
            <li><a th:href="@{/admin/inquiries}">문의사항 목록</a></li>
            <li><a th:href="@{/admin/notices}">공지사항 관리</a></li>
            <li><a th:href="@{/admin/visitor}">방문자 수</a></li>
        </ul>
    </div>
    <!--주 내용-->
    <div class="admin-contents">
        <h2>관리자페이지입니다</h2>
    </div>
</div>
<div th:replace="~{fragments/common/footer :: footerFragment}"></div>
</body>
</html>

