<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>상점 상세보기(관리자)</title>
    <link rel="stylesheet" th:href="@{/css/admin/admin.css}">
    <script th:src="@{/js/admin/shopinfo.js}" defer="defer"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=wbg83yihp2&submodules=geocoder"></script>
</head>
<body>
<div th:replace="~{fragments/common/header :: headerFragment}"></div>
<div id="admin-body">
    <div class="admin-sidebar">
        <h3>관리자 메뉴</h3>
        <ul>
            <li><a th:href="@{/admin}">관리자 페이지 홈</a></li>
            <li><a th:href="@{/admin/markets}">시장 관리</a></li>
            <li><a th:href="@{/admin/shops}">상점 관리</a></li>
            <li><a th:href="@{/admin/items}">상품 관리</a></li>
            <li><a th:href="@{/admin/members}">회원 관리</a></li>
            <li><a th:href="@{/admin/inquiries}">문의사항 관리</a></li>
            <li><a th:href="@{/admin/notices}">공지사항 관리</a></li>
            <li><a th:href="@{/admin/visitor}">방문자 수</a></li>
        </ul>
    </div>
    <button id="addItemButton">상품 추가</button>
    <div class="adminShop-info">
        <h2 id="h2">상점 상세정보(관리자)</h2>
        <div>
            <strong>이미지 :</strong>
            <div id="imageContainer"></div>
        </div>
        <div>
            <strong>상점 고유번호 :</strong> <span id="shopNo"></span>
        </div>
        <div>
            <strong>소속 시장 :</strong> <span id="marketName"></span>
        </div>
        <div>
            <strong>상점 이름 :</strong> <span id="shopName"></span>
        </div>
        <div>
            <strong>전화번호 :</strong> <span id="tel"></span>
        </div>
        <div>
            <strong>주소 :</strong> <span id="shopAddr"></span>
        </div>
        <div>
            <strong>위도 :</strong> <span id="shopLat"></span>
        </div>
        <div>
            <strong>경도 :</strong> <span id="shopLng"></span>
        </div>
        <div>
            <strong>상점 대표자 :</strong> <span id="sellerName"></span>
        </div>
        <div>
            <strong>상점 분류 :</strong> <span id="category"></span>
        </div>
        <div>
            <strong>조회수 :</strong> <span id="viewCount"></span>
        </div>
        <div>
            <strong>좋아요 수 :</strong> <span id="likes"></span>
        </div>
        <div>
            <strong>상품 목록 :</strong>
            <div id="itemContainer"></div>
        </div>
        <div>
            <strong>댓글 목록 :</strong>
            <div id="commentContainer"></div>
        </div>
        <div>
            <strong>상점 생성일 :</strong> <span id="createTime"></span>
        </div>
        <div>
            <strong>상점 정보 변경일 :</strong> <span id="updateTime"></span>
        </div>
        <th:block sec:authorize="hasAnyRole('ADMIN')">
            <button class="button-info" id="updateButton">수정</button>
            <button class="button-info" id="deleteButton">삭제</button>
        </th:block>
    </div>
</div>
<!-- 지도가 표시되는 영역 -->
<div id="map" style="width:500px;height:400px;"></div>

<!-- 모달 -->
<div id="myModal" class="modal">
    <span class="close" onclick="closeModal()">&times;</span>
    <img class="modal-content" id="img01">
    <div id="caption"></div>
</div>

<!-- 비밀번호 입력 모달창 -->
<div class="modalPw" id="verifyPwModal" style="display:none;">
    <div class="modal-content-pw">
        <h2>상점 삭제</h2>
        <form id="verifyPwForm">
            <label for="adminPw">관리자 비밀번호 입력</label>
            <input type="password" id="adminPw" name="adminPw" required><br>
            <button type="button" id="deleteExecuteBtn">확인</button>
            <button type="button" id="deleteCancelBtn" class="close">취소</button>
        </form>
        <div id="checkPwError" style="color: red;"></div> <!-- 오류 메시지 표시 -->
    </div>
</div>
</body>
<!--<div th:replace="~{fragments/common/footer :: footerFragment}"></div>-->
</html>
