<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>상점 관리</title>
  <link rel="stylesheet" th:href="@{/css/admin/admin.css}">
  <script th:src="@{/js/admin/shopManage.js}" defer="defer"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <style>
      .active {
        background-color: blue;
        color: white;
      }
      .page-btn {
      /* 기존 스타일 */
      font-size: 25px; /* 원하는 크기로 변경 */
      }
  </style>
</head>
<body>
<div th:replace="~{fragments/common/header :: headerFragment}"></div>
<div id="admin-body">
  <div class="admin-sidebar">
    <h3>관리자 메뉴</h3>
    <ul>
      <li><a th:href="@{/admin/markets}">시장 관리</a></li>
      <li><a th:href="@{/admin/shops}">상점 관리</a></li>
      <li><a th:href="@{/admin/items}">상품 관리</a></li>
      <li><a th:href="@{/admin/members}">회원목록 조회</a></li>
      <li><a th:href="@{/admin/inquiries}">문의사항 목록</a></li>
      <li><a th:href="@{/admin/notices}">공지사항 관리</a></li>
      <li><a th:href="@{/admin/visitor}">방문자 수</a></li>
    </ul>
  </div>
  <button id="addShopButton" onclick="location.href='/admin/shops/a'">상점 추가</button>
  <div class="shopList-marketList">
    <div>
      <select id="marketNo" name="marketNo" required>
        <!-- 여기에 시장 목록 드롭다운으로 출력 -->
      </select>
    </div>
  </div>
  <div class="shopList-category">
    <button id="viewCountButton">조회수순</button> <!-- 조회수 순으로 보기 버튼 추가 -->
      <!-- 카테고리 버튼들을 여기에 추가 -->
  </div>
  <div class="shopList-contents">
    <h2>상점 관리</h2>
      <!-- 여기에 상점 목록 테이블로 출력 -->
  </div>
  <div class="pagination">
  </div>
</div>
<!-- 비밀번호 입력 모달창 -->
<div class="modalPw" id="verifyPwModal" style="display:none;">
  <div class="modal-content-pw">
    <h2>상점 삭제</h2>
    <form id="verifyPwForm">
      <label for="adminPw">관리자 비밀번호 입력</label>
      <input type="password" id="adminPw" name="adminPw" required><br>
      <button type="button" id="deleteExecuteBtn">확인</button>
      <button type="button" id="deleteCancelBtn" class="close">취소</button>
    </form>
    <div id="checkPwError" style="color: red;"></div> <!-- 오류 메시지 표시 -->
  </div>
</div>
</body>
<!--<div th:replace="~{fragments/common/footer :: footerFragment}"></div>-->
</html>

