<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>주문 내역</title>
  <link rel="stylesheet" href="styles.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 20px;
    }

    .container {
        background: white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-width: 400px;
        margin: auto;
    }

    h1 {
        text-align: center;
    }

    #orderDetails {
        margin-top: 20px;
    }
  </style>
</head>
<body>
<div class="container">
  <h1>주문 상세</h1>
  <div id="orderDetails"></div>
</div>
<script>
$(document).ready(function() {
    $.ajax({
        url: '/api/orders',
        type: 'GET',
        success: function(response) {
            console.log(response);
            const order = response.content[0];
            const orderItems = order.orderItemList[0];
            const imageList = orderItems.imageList[0];
            const totalPrice = orderItems.orderPrice * orderItems.count;

            $('#orderDetails').html(`
                <img src="${imageList.imageUrl}" alt="${orderItems.itemName}" width="150" height="150" />
                <p>주문 번호: ${order.orderNo}</p>
                <p>결제 상태: ${order.orderStatus}</p>
                <p>주문 날짜: ${order.orderDate}</p>
                <p>상품명: ${orderItems.itemName}</p>
                <p>상품 수량: ${orderItems.count}</p>
                <p>상품 가격: ${totalPrice} 원</p>
                <p>배송지: ${order.delivery}</p>
                <p>배송메시지: ${order.deliveryMessage}</p> <!--삭제해도됨-->
            `);
        },
        error: function(error) {
            $('#orderDetails').html('<p>주문 정보를 가져오는 데 실패했습니다.</p>');
        }
    });
});
</script>
</body>
</html>
