@import url(/css/common/reset.css);
@import url(/css/common/header.css);
@import url(/css/common/footer.css);

#imagePreview {
  margin-top: 10px;
  display: flex; /* Flexbox로 이미지 정렬 */
  flex-wrap: wrap; /* 여러 줄로 감싸기 */
}
.preview-image-container {
  position: relative;
  margin-right: 10px;
  margin-bottom: 10px; /* 이미지 간격 추가 */
}
.preview-image {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  margin-bottom: 10px; /* 이미지 간격 추가 */
  object-fit: cover; /* 이미지 비율 유지 */
}

/* 모달 스타일 */
.modal {
    display: none; /* 기본적으로 숨김 */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* 관리자 비밀버호 확인 모달 스타일 */
.modalPw {
    display: none; /* 기본적으로 숨김 */
    position: fixed; /* 화면에 고정 */
    z-index: 1; /* 최상위 레이어 */
    left: 0;
    top: 0;
    width: 100%; /* 전체 화면 */
    height: 100%; /* 전체 화면 */
    overflow: auto; /* 필요 시 스크롤 */
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
}

.modal-content-pw {
    background-color: #fff;
    margin: 15% auto; /* 화면 중앙에 위치 */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* 모달 너비 */
    max-width: 600px; /* 최대 너비 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
}

/* 모달 제목 스타일 */
.modal-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

/* 주차 정보 모달 스타일 */
#parkingModal .modal-content {
    background-color: white;
    margin: 15% auto; /* 화면 중앙에 위치 */
    padding: 20px;
    border: 1px solid #888;
    width: 1000px; /* 모달 너비 */
    /*max-width: 800px;*/ /* 최대 너비 */
    height: 700px; /* 높이 조정 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
}

/* 대중교통 모달 스타일 */
#transportModal .modal-content {
    background-color: white;
    margin: 15% auto; /* 화면 중앙에 위치 */
    padding: 20px;
    border: 1px solid #888;
    width: 1000px; /* 모달 너비 */
    /*max-width: 800px;*/ /* 최대 너비 */
    height: 700px; /* 높이 조정 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
}

/*
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}*/
