<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OAuth 추가정보입력</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/members/signup/oauth.js}" defer="defer"></script>
    <link rel="stylesheet" th:href="@{/css/members/oauth.css}">
</head>
<body>
<div th:replace="~{fragments/common/header :: headerFragment}"></div>
<p>OAuth 추가정보입력 페이지</p>
<div class="update">
    <form id="addinfoForm">
        <div>
            <label for="memberNickname">닉네임</label>
            <input type="text" id="memberNickname" name="memberNickname" placeholder="닉네임을 입력해주세요" required>
<!--            <button type="button" id="nicknameCheckButton">닉네임 중복 확인</button>-->
        </div>
<!--        <li>-->
<!--            <d id="nicknameAvailable" class="valid-feedback" style="display: none;"></d>-->
<!--            <d id="nicknameNotAvailable" class="invalid-feedback" style="display: none;"></d>-->
<!--        </li>-->
        <li>
            <button type="submit">가입하기</button>
        </li>
    </form>
</div>
</body>
<div th:replace="~{fragments/common/footer :: footerFragment}"></div>
</html>
