@import url(/css/common/reset.css);
@import url(/css/common/header.css);
@import url(/css/common/footer.css);

/* 모달 스타일 */
.modal {
    display: none; /* 기본적으로 숨김 */
    position: fixed; /* 화면에 고정 */
    z-index: 1; /* 최상위 레이어 */
    left: 0;
    top: 0;
    width: 100%; /* 전체 화면 */
    height: 100%; /* 전체 화면 */
    overflow: auto; /* 필요 시 스크롤 */
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
}

.modal-content {
    background-color: #fff;
    margin: 15% auto; /* 화면 중앙에 위치 */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* 모달 너비 */
    max-width: 600px; /* 최대 너비 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
}