<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>공지사항 목록</title>
    <link rel="stylesheet" th:href="@{/css/notice/notice.css}">
    <script th:src="@{/js/notice/noticelist.js}" defer="defer"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        .active {
          background-color: blue;
          color: white;
        }
        .page-btn {
        /* 기존 스타일 */
        font-size: 25px; /* 원하는 크기로 변경 */
        }
    </style>
</head>
<body>
<div th:replace="~{fragments/common/header :: headerFragment}"></div>
<div id="admin-body">
    <div class="noticeList-contents">
        <h2>공지사항 목록</h2>
        <!-- 공지사항 목록 테이블 여기에 출력 -->
    </div>
    <div class="pagination">
    </div>
</div>
</body>
<!--<div th:replace="~{fragments/common/footer :: footerFragment}"></div>-->
</html>
