<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div id="header" class="header" th:fragment="headerFragment">
<head>
  <meta charset="UTF-8">
  <title>상단바 예제</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div class="navbar">
  <div class="navbar-brand">
    <a th:href="@{/}">
      <img src="https://via.placeholder.com/40" alt="우리동네 아이콘">
    </a>
    <a th:href="@{/}" class="navbar-item">우리동네</a>
  </div>
  <div class="navbar-right">
    <a th:href="@{/market}" class="navbar-item">시장찾기</a>
    <a th:href="@{/notice}" class="navbar-item">공지사항</a>
    <th:block sec:authorize="isAuthenticated()">
      <a th:href="@{/inquiry}" class="navbar-item">문의하기</a>
      <a th:href="@{/cart}" class="navbar-item">장바구니</a>
      <a th:href="@{/myinfo}" class="navbar-item">내정보</a>
      <a href="javascript:void(0);" onclick="logout()">로그아웃</a>
    </th:block>
    <th:block sec:authorize="isAnonymous()">
      <a th:href="@{/members/login}" class="navbar-item">로그인</a>
      <a th:href="@{/members/signup}" class="navbar-item">회원가입</a>
    </th:block>
    <th:block sec:authorize="hasAnyRole('ADMIN')">
      <a th:href="@{/admin}" class="navbar-item">관리자페이지</a>
    </th:block>
  </div>
</div>

<!--로그아웃 버튼 누르면 실행되는 함수-->
<script>
    function logout() {
        $.ajax({
            type: 'post',
            url: '/api/members/logout',
            contentType: 'application/json',
            success: function(response) {
                alert("로그아웃 성공");
                // 로그아웃 성공하면 페이지 새로고침
<!--                location.reload();-->
                // 로그아웃 성공하면 홈으로 이동
                window.location.href = '/';
            },
            error: function(xhr, status, error) {
                console.error("로그아웃 실패:", error)
            }
        });
    }
</script>
</body>
</div>
</html>
