<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>네이버 지도 api</title>
    <script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=wbg83yihp2&submodules=geocoder"></script>
    <!--    NAVER 지도 API v3이 로드되는 동안 나머지 웹 사이트를 렌더링하는 비동기 방식으로 사용하려면 -->
    <!--    다음과 같이 callback 파라미터를 이용해 콜백 함수를 지정합니다. NAVER API v3이 준비되면 지정한 콜백 함수를 호출합니다.-->
    <!--    <script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=wbg83yihp2&submodules=geocoder&callback=CALLBACK_FUNCTION"></script>-->
</head>
<body>
<!--지도가 표시되는 영역 크기-->
<div id="map" style="width:500px;height:400px;"></div>
<script>
naver.maps.Service.geocode({
    query: '서울 강북구 도봉로71길 26'
}, function(status, response) {
    if (status !== naver.maps.Service.Status.OK) {
        return alert('Something wrong!');
    }

    var result = response.v2; // 검색 결과의 컨테이너
    var items = result.addresses; // 검색 결과의 배열

    if (items.length > 0) {
        var firstItem = items[0]; // 첫 번째 검색 결과 사용

        var x = parseFloat(firstItem.x); // x 좌표
        var y = parseFloat(firstItem.y); // y 좌표

        var jibunAddress = firstItem.jibunAddress; // 지번 주소
        var roadAddress = firstItem.roadAddress; // 도로명 주소

        // x, y 값을 이용한 추가 작업 수행 가능
        console.log('주소:', firstItem);
        console.log('지번 주소:', jibunAddress);
        console.log('도로명 주소:', roadAddress);
        console.log('x 좌표:', x);
        console.log('y 좌표:', y);

        // 지도에 마커와 정보창 표시하기
        var mapOptions = {
            center: new naver.maps.LatLng(y, x), // 위도(latitude), 경도(longitude) 순서로 지정
            zoom: 15
        };

        var map = new naver.maps.Map('map', mapOptions);
        var marker = new naver.maps.Marker({
            position: new naver.maps.LatLng(y, x),
            map: map
        });

        // 마커 클릭 시 정보창 열기
        var infoWindow = new naver.maps.InfoWindow({
            content: [
                '<div style="padding:10px;min-width:200px;line-height:150%;">',
                '<h4 style="margin-top:5px;">지번 주소</h4>',
                '<p>' + jibunAddress + '</p>',
                '<h4 style="margin-top:10px;">도로명 주소</h4>',
                '<p>' + roadAddress + '</p>',
                '</div>'
            ].join('')
        });

        naver.maps.Event.addListener(marker, "click", function() {
            if (infoWindow.getMap()) {
                infoWindow.close();
            } else {
                infoWindow.open(map, marker);
            }
        });
    } else {
        alert('주소에 대한 검색 결과가 없습니다.');
    }
});
  </script>
<!--  비동기 방식일 경우 아래 코드-->
<!--  <script type="text/javascript">-->
<!--        var map = null;-->

<!--        function initMap() {-->
<!--            map = new naver.maps.Map('map', {-->
<!--                center: new naver.maps.LatLng(37.3595704, 127.105399),-->
<!--                zoom: 15-->
<!--            });-->
<!--        }-->
<!--    </script>-->
</body>
</html>