<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>401 Unauthorized Access</title>
  <link rel="stylesheet" th:href="@{/css/unauthorized.css}">
</head>
<body>
<div th:replace="~{fragments/common/header :: headerFragment}"></div>
<div class="unContainer">
  <h2>401.Unauthorized Access</h2>
  <div class="message">
    <p>인증되지않았습니다</p>
    <p>다시 로그인 해주세요</p>
    <a th:href="@{/}">홈으로 이동</a>
  </div>
</div>
</body>
<div th:replace="~{fragments/common/footer :: footerFragment}"></div>
</html>