<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>문의사항 작성</title>
  <link rel="stylesheet" th:href="@{/css/inquiry/inquiry.css}">
  <script th:src="@{/js/inquiry/addInquiry.js}" defer="defer"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div th:replace="~{fragments/common/header :: headerFragment}"></div>
<p>문의사항 작성 페이지입니다</p>

<form id="inquiryForm" enctype="multipart/form-data">
  <div>
    <label for="inquiryTitle">제목</label>
    <input type="text" id="inquiryTitle" name="inquiryTitle" required placeholder="문의 제목을 입력하세요" />
  </div>
  <div>
    <label for="inquiryContent">내용</label>
    <textarea id="inquiryContent" name="inquiryContent" required placeholder="문의 내용을 입력하세요"></textarea>
  </div>
  <div>
    <label for="imageFiles">이미지 업로드</label>
    <input type="file" id="imageFiles" name="imageFiles" multiple accept="image/*" />
    <div id="imagePreview"></div>
  </div>
  <div>
    <button type="submit">작성하기</button>
  </div>
</form>
<!-- 이미지 미리보기 모달 -->
<div id="myModal" class="modal">
  <span class="close" onclick="closeModal()">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>
</body>
<div th:replace="~{fragments/common/footer :: footerFragment}"></div>
</html>
