<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>문의사항 상세보기</title>
    <link rel="stylesheet" th:href="@{/css/members/myinfo.css}">
    <link rel="stylesheet" th:href="@{/css/inquiry/inquiry.css}">
    <script th:src="@{/js/inquiry/inquiryinfo.js}" defer="defer"></script>
    <script th:src="@{/js/admin/inquiryAnswer.js}" defer="defer"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div th:replace="~{fragments/common/header :: headerFragment}"></div>
<div id="myinfo-body">
    <div class="myinfo-sidebar">
        <h3>내 정보</h3>
        <ul>
            <li><a th:href="@{/myinfo}">내정보 홈</a></li>
            <li><a th:href="@{/myinfo/myinfo}">내정보</a></li>
            <li><a th:href="@{/myinfo/list}">구매목록</a></li>
            <li><a th:href="@{/myinfo/inquiries}">문의내역</a></li>
            <li><a th:href="@{/myinfo/delivery}">배송지관리</a></li>
        </ul>
    </div>
        <div class="inquiry-info">
            <h2 id="h2">문의사항 상세정보</h2>
            <div>
                <strong>제목 :</strong> <span id="inquiryTitle"></span>
            </div>
            <div>
                <strong>작성자 :</strong> <span id="inquiryWriter"></span>
            </div>
            <div>
                <strong>내용 :</strong> <span id="inquiryContent"></span>
            </div>
            <div>
                <strong>답변 상태 :</strong> <span id="inquiryState"></span>
            </div>
            <div>
                <strong>작성 시간 :</strong> <span id="createTime"></span>
            </div>
            <div>
                <strong>이미지 :</strong>
                <div id="imageContainer"></div>
            </div>
        <button class="button-info" id="deleteButton">삭제</button>
        <th:block sec:authorize="hasAnyRole('ADMIN')">
            <button class="button-info" id="answerButton">답변하기</button>
            <!-- 답변하기 버튼 클릭 시 나타나는 textarea와 취소 버튼 -->
            <div id="answerForm" style="display: none; margin-top: 10px;">
                <form id="submitForm" enctype="multipart/form-data">
                    <div>
                        <textarea id="answerTextarea" name="answerContent" rows="20" cols="100" placeholder="답변 내용을 입력하세요"></textarea>
                    </div>
                    <div>
                        <label for="imageFiles">이미지 업로드</label>
                        <input type="file" id="imageFiles" name="imageFiles" multiple accept="image/*" />
                        <div id="imagePreview"></div>
                    </div>
                    <div>
                        <button type="submit" class="button-info" id="submitButton">등록</button>
                    </div>
                </form>
                <button class="button-info" id="cancelButton" style="display: none">취소</button>
            </div>
        </th:block>
        <div class="answer-section">
            <div class="answer-content">
                <strong>답변 작성자 :</strong> <span id="answerWriter"></span><br>
                <strong>답변 시간 :</strong> <span id="answerCreateTime"></span><br>
                <strong>답변 내용 :</strong> <span id="answerContent"></span><br>
                <strong>이미지 :</strong>
                <div id="answerImageContainer"></div>
            </div>
        </div>
    </div>
</div>

<!-- 모달 -->
<div id="myModal" class="modal">
    <span class="close" onclick="closeModal()">&times;</span>
    <img class="modal-content" id="img01">
    <div id="caption"></div>
</div>
</body>
<!--<div th:replace="~{fragments/common/footer :: footerFragment}"></div>-->
</html>
