<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>네이버 지도 api</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=wbg83yihp2&submodules=geocoder"></script>
    <script th:src="@{/js/mapWeather.js}" defer="defer"></script>
    <link rel="stylesheet" th:href="@{/css/navermapandweather/mapWeather.css}">
</head>
<body>
<div th:replace="~{fragments/common/header :: headerFragment}"></div>
<!-- 지도가 표시되는 영역 -->
<div id="map" style="width:500px;height:400px;"></div>
<!-- 날씨 정보가 표시되는 영역 -->
<div id="weather-info" style="margin-top: 20px; padding: 10px; border: 1px solid #ccc; width: 400px;">
    <h3>서울시청 날씨 정보</h3>
    <p id="current-temp"></p>
    <p id="feels-like"></p>
    <p id="min-temp"></p>
    <p id="max-temp"></p>
    <p id="humidity"></p>
    <p id="weather-description"></p>
    <div id="weather-image-container"></div> <!-- 날씨 이미지를 표시할 컨테이너 -->
</div>
<!--  비동기 방식일 경우 아래 코드-->
<!--  <script type="text/javascript">-->
<!--        var map = null;-->

<!--        function initMap() {-->
<!--            map = new naver.maps.Map('map', {-->
<!--                center: new naver.maps.LatLng(37.3595704, 127.105399),-->
<!--                zoom: 15-->
<!--            });-->
<script>
<!--두 인자 null 말고 각각 서울시청의 주소, 이름 설정해도됨, 이 경우엔 mapWeather.js파일에서 두 인자 기본값 설정하는 if문 삭제해도됨-->
    $(document).ready(function() {
        var defaultAddress = null;
        var defaultMarketName = null;
            showMarketInfo(defaultAddress, defaultMarketName);
    });
</script>
</body>
<div th:replace="~{fragments/common/footer :: footerFragment}"></div>
</html>