<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>시장 찾기</title>
    <link rel="stylesheet" th:href="@{/css/market/market.css}">
    <script th:src="@{/js/market/marketlist.js}" defer="defer"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        .active {
          background-color: blue;
          color: white;
        }
        .page-btn {
        /* 기존 스타일 */
        font-size: 25px; /* 원하는 크기로 변경 */
        }
    </style>
</head>
<body>
<div th:replace="~{fragments/common/header :: headerFragment}"></div>

<div class="market-find">
    <div class="marketList-searchKeyword">
        <input type="text" id="searchInput" placeholder="시장 이름 검색">
        <button id="searchButton">검색</button>
    </div>
    <div class="marketList-category">
        <button id="viewAllButton">전체보기</button> <!-- 전체보기 버튼 추가 -->
        <!-- 카테고리 버튼들을 여기에 추가 -->
    </div>
    <div class="marketList-contents">
        <h2>시장 찾기</h2>
        <!-- 시장 목록 테이블 여기에 출력 -->
    </div>
    <div class="pagination">
    </div>
</div>
<!--<div th:replace="~{fragments/common/footer :: footerFragment}"></div>-->
</body>
</html>
