<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>상점 상세보기</title>
    <link rel="stylesheet" th:href="@{/css/shop/shopinfo.css}">
    <script th:src="@{/js/shop/shopinfo.js}" defer="defer"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=wbg83yihp2&submodules=geocoder"></script>
</head>
<body>
<div th:replace="~{fragments/common/header :: headerFragment}"></div>
<div class="shop-info">
    <h2 id="h2">상점 상세정보</h2>
    <div>
        <strong>이미지 :</strong>
        <div id="imageContainer"></div>
    </div>
    <div>
        <strong>소속 시장 :</strong> <span id="marketName"></span>
    </div>
    <div>
        <strong>상점 이름 :</strong> <span id="shopName"></span>
    </div>
    <div>
        <strong>전화번호 :</strong> <span id="tel"></span>
    </div>
    <div>
        <strong>주소 :</strong> <span id="shopAddr"></span>
    </div>
    <div>
        <strong>상점 대표자 :</strong> <span id="sellerName"></span>
    </div>
    <div>
        <strong>상점 분류 :</strong> <span id="category"></span>
    </div>
    <div>
        <strong>좋아요 수 :</strong> <span id="likes"></span>
    </div>
    <div>
        <strong>상품 목록 :</strong>
        <ul id="itemContainer"></ul>
    </div>
    <div>
        <strong>댓글 목록 :</strong>
        <div id="commentContainer"></div>
    </div>
    <th:block sec:authorize="hasAnyRole('ADMIN')">
        <button id="addItemButton">상품 추가</button>
        <button class="button-info" id="updateButton">수정</button>
        <button class="button-info" id="deleteButton">삭제</button>
        <div style="display: none;"><span id="shopNo"></span></div>
    </th:block>
</div>

<!-- 지도가 표시되는 영역 -->
<div id="map" style="width:500px;height:400px;"></div>

<!-- 모달 -->
<div id="myModal" class="modal">
    <span class="close" onclick="closeModal()">&times;</span>
    <img class="modal-content" id="img01">
    <div id="caption"></div>
</div>

<!-- 비밀번호 입력 모달창 -->
<div class="modalPw" id="verifyPwModal" style="display:none;">
    <div class="modal-content-pw">
        <h2>상점 삭제</h2>
        <form id="verifyPwForm">
            <label for="adminPw">관리자 비밀번호 입력</label>
            <input type="password" id="adminPw" name="adminPw" required><br>
            <button type="button" id="deleteExecuteBtn">확인</button>
            <button type="button" id="deleteCancelBtn" class="close">취소</button>
        </form>
        <div id="checkPwError" style="color: red;"></div> <!-- 오류 메시지 표시 -->
    </div>
</div>
<!--<div th:replace="~{fragments/common/footer :: footerFragment}"></div>-->
</body>
</html>
